<h1>Whois</h1>

<p>Verifique se o Domínio está disponivel</p>

<div class="row">
    <div class="col-md-8">
        <div class="input-group">
            <input [(ngModel)]="text" #ctrl="ngModel" required placeholder="Digite aqui o Tld" class="form-control" id="text">
            <span class="input-group-btn">
                <span class="hide">

                </span>
            <select class="form-control" [(ngModel)]="tld">
                    <option *ngFor="let c of lista" value="{{c}}">{{c}}</option>
                </select>
            <button class="btn btn-default" [disabled]="text.length==0" type="button" (click)="pesquisaWhois()">Pesquisar</button>
            </span>
        </div>
    </div>
</div>


<div *ngIf="!available && showAlert" class="alert alert-danger">Domínio Já registrado</div>
<div *ngIf="available && showAlert" class="alert alert-success">Domínio Disponivel</div>